* {
    font-family: Arial, Helvetica, sans-serif;
}
.parent {
    width: 550px;
    height: 300px;
    margin: 20px auto;
    position: relative;
}
.parent::before {
    content: "";
    width: 1px;
    background-color: #14a9ed;
    top: 10px;
    content: "";
    position: absolute;
    height: 280px;
    left: 50%;
}
.parent::after {
    content: "Or";
    background-color: #14a9ed;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -11px;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}
.parent div {
    background-color: #eee;
    width: 237px;
    height: 286px;
    margin: 6px 17px;
    display: inline-block;
    position: relative;
}
.basic::before {
    content: "Free";
}
.pro::before {
    content: "$30";

}
.basic::before,.pro::before {
    background-color: #ddd;
    border-radius: 50%;
    text-align: center;
    top: 27%;
    right: 8%;
    padding: 78px 65px;
    font-size: 35px;
    position: absolute;
}
.basic::after {
    content: "Basic";
    
}
.pro::after {
    content: "Pro";
}
.basic::after,.pro::after {
    background-color: #14a9ed;
    color: white;
    width: 80%;
    text-align: center;
    padding: 9px 2px;
    border-radius: 5px;
    top: 18px;
    right: 21px;
    font-weight: bold;
    position: absolute;
}