*{
    font-family: Arial, Helvetica, sans-serif;
 }
p {
    background-color: #eee;
    padding: 15px;
    width: 350px;
    margin: 20px auto;
    border-right: 5px solid rgb(228, 63, 91);
    position: relative;
    counter-increment: count;
}
p::before {
    text-align: center;
    left: -48px;
    position: absolute;
    content: counter(count);
    background-color: rgb(228, 63, 91);
    width: 20px;
    padding: 14px;
    top: 0px;
    color: white;
    font-size: large;
}