div {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 20px;
    background-color: #eee;
    max-width: 400px;
  
}
.three {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis ;
}