body {
    font-family: Arial, Helvetica, sans-serif;
}
div {
    text-align: center;
    margin: 20px;
    border: 3px solid ;
   width: 300px;
}
div p {
    background-color: #eee;
    border: inherit;
    margin: inherit;
    padding: 15px;
    
}
.red {
    border-color: rgb(255, 63, 63);
}
.green {
    border-color: rgb(0, 128, 111);
}
