div {
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    margin: 20px auto;
    background-color: #eee;
    padding: 20px;
    border: 2px solid;
    border-color: #e53a27 #03a9f4;
    position: relative;
    line-height: 30px;
    text-align: center;
}
span {
    width: 20px;
    height: 20px;
    position: absolute;
    color: white;
    background-color: #03a9f4;
    text-align: center;
    line-height: initial;
    padding: 2px 4px;
}
.top-left {
    top: -10px;
    left: -10px;
    border-right: 2px solid #e53a27;
}
.bottom-left {
    bottom: -10px;
    left: -10px;
    border-right: 2px solid #e53a27;
}
.top-right {
    top: -10px;
    right: -10px;
    border-left: 2px solid #e53a27;
}
.bottom-right {
    bottom: -10px;
    right: -10px;
    border-left: 2px solid #e53a27;
}