div {
    background-color: #eee !important;
    color: transparent !important; 
    border: none !important;
    font-size: 20px !important;
    position: relative;
    width: 400px;
    margin: 20px auto;
}
div::after {
    content: "Elzero";
    color: black;
    text-align: center;
    width: 440px;
    font-weight: bold;
    position: absolute;
    margin: 20px auto;
    top: 0;
    left: 0;
}